src/pages/create-request-form.pug
extends ../templates/template.pug
block content
  +header
  .section.section--create-request-form.pt-50.pb-100: .container
    .d-flex.align-items-baseline.justify-content-between.pb-30
        .d-flex.align-items-baseline
          a.arrow-back(href="#")
          h2.mb-0 Обращение по смертельно опасному заболеванию
        .tooltip.d-none.d-md-block
          p.p--gray.mb-0.tooltip__trigger.tooltip__trigger--text Изменения сохранены
          .tooltip__content.tooltip__content--right-top
            p Все изменения автоматически сохраняются <br>Последнее изменение: 12 минут назад
    form.form.box-shadow-sm(action="#", method="POST")
      .border-bottom.px-15.px-sm-30.pt-30
        .d-flex.align-items-center.justify-content-between.mb-15
          .d-flex.align-items-center
            h5.mb-0.font-weight-bold.mr-10 Заявитель
            +tooltip('Тот, кто оформляет обращение')
          span.form__required.d-none.d-md-block
            span.text-warning *  
            | – поля, обязательные для заполнения
        .row
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Фамилия", "request1", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Имя", "request2", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Отчество", "request3", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Номер телефона", "request4", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--tooltip", "text", "Email", "request5", "Ошибка при заполнении поля").field--static.field--required
      .px-15.px-sm-30.pt-30.border-bottom
        .d-flex.align-items-center.mb-15
          h5.mb-0.font-weight-bold.mr-10 Застрахованное лицо
          +tooltip('Тот, на кого оформлен полис страхования')
        .row
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Фамилия", "request1", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Имя", "request2", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Отчество", "request3", "Ошибка при заполнении поля").field--static.field--required
      .py-20.px-15.p-sm-30.border-bottom
        .d-flex.align-items-center.mb-15
          h5.mb-0.font-weight-bold Договор и страховое событие
        .row
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "№ договора страхования", "request1", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--tooltip", "text", "Место приобретения договора", "request2", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--calendar", "text", "Дата происшествия (страхового события)", "request3", "Ошибка при заполнении поля").field--static.field--required
      .py-20.px-15.p-sm-30.border-bottom
        .d-flex.align-items-center.mb-15
          h5.mb-0.font-weight-bold Платежные реквизиты для возврата денежных средств
        .row
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "БИК", "request1", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--tooltip", "text", "Расчетный/лицевой счет", "request2", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--calendar", "text", "Коррсчет Банка", "request3", "Ошибка при заполнении поля").field--static.field--required
      .py-20.px-15.p-sm-30: .row: .col-lg-4.ml-auto
        a.btn.btn-primary.w-100(href="#") Продолжить
  +footer

build/create-request-form.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <header class="header">
        <div class="header__progress">
          <div class="header__bar"></div>
        </div>
        <div class="container header__container">
          <div class="header__row">
            <div class="header__left"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                      <ul class="menu__submenu">
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <form class="search">
                  <input class="search__field" type="text" placeholder="Поиск">
                  <input class="search__button" type="submit" value="">
                </form>
            </div>
            <div class="header__right">
              <div class="dropdown__wrapper"><a class="btn btn-primary btn--question dropdown__trigger js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a>
                  <div class="dropdown js-dropdown-callback">
                    <div class="dropdown__header">
                      <h3 class="dropdown__header-title">Общение с Кардиф</h3><a class="dropdown__close" href="#"></a>
                    </div>
                    <div class="dropdown__row">
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-1.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Задать вопрос</p>
                        <p class="dropdown__dscr">Карди поможет вам разобраться с любыми вопросами по работе системы.</p><a class="dropdown__link" href="#">Открыть чат с Карди</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-2.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обращение</p>
                        <p class="dropdown__dscr">Обратитесь за помощью в оформлении страховых случаев на сайте.</p><a class="dropdown__link" href="#">Создать обращение</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-3.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обратный звонок</p>
                        <p class="dropdown__dscr">Закажите обратный звонок и наши специалисты помогут решить любой ваш вопрос.</p><a class="dropdown__link" href="#">Заказать</a>
                      </div>
                    </div>
                  </div>
              </div><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a><a class="btn btn-primary btn--notifications js-btn-notifications" href="#"><span>4</span></a><a class="header__avatar" href="#"><img src="./img/avatar.jpg" alt></a><a class="header__toggle-btn" href="#"><span></span></a>
            </div>
          </div>
        </div>
      </header>
      <div class="mobile-menu-bar js-mobile-menu-bar">
        <div class="container mobile-menu-bar__wrapper js-menu-html">
          <div class="mobile-menu-bar__top">
              <nav class="menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                    <ul class="menu__submenu">
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <form class="search">
                <input class="search__field" type="text" placeholder="Поиск">
                <input class="search__button" type="submit" value="">
              </form>
          </div>
          <div class="mobile-menu-bar__bottom"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a></div>
        </div>
      </div>
      <div class="floating-buttons floating-buttons--active js-floating-buttons">
        <div class="floating-buttons__wrapper"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#">Страховой случай</a></div>
      </div>
    <div class="section section--create-request-form pt-50 pb-100">
      <div class="container">
        <div class="d-flex align-items-baseline justify-content-between pb-30">
          <div class="d-flex align-items-baseline"><a class="arrow-back" href="#"></a>
            <h2 class="mb-0">Обращение по смертельно опасному заболеванию</h2>
          </div>
          <div class="tooltip d-none d-md-block">
            <p class="p--gray mb-0 tooltip__trigger tooltip__trigger--text">Изменения сохранены</p>
            <div class="tooltip__content tooltip__content--right-top">
              <p>Все изменения автоматически сохраняются <br>Последнее изменение: 12 минут назад</p>
            </div>
          </div>
        </div>
        <form class="form box-shadow-sm" action="#" method="POST">
          <div class="border-bottom px-15 px-sm-30 pt-30">
            <div class="d-flex align-items-center justify-content-between mb-15">
              <div class="d-flex align-items-center">
                <h5 class="mb-0 font-weight-bold mr-10">Заявитель</h5>
                  <div class="tooltip">
                    <div class="tooltip__trigger"></div>
                    <div class="tooltip__content">
                      <p>Тот, кто оформляет обращение</p>
                    </div>
                  </div>
              </div><span class="form__required d-none d-md-block"><span class="text-warning">*  </span>– поля, обязательные для заполнения</span>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request1">Фамилия</label>
                    <input class="field__input" id="request1" type="text" placeholder="Фамилия" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request2">Имя</label>
                    <input class="field__input" id="request2" type="text" placeholder="Имя" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request3">Отчество</label>
                    <input class="field__input" id="request3" type="text" placeholder="Отчество" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request4">Номер телефона</label>
                    <input class="field__input" id="request4" type="text" placeholder="Номер телефона" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <div class="d-flex align-items-center">
                      <label class="field__label" for="request5">Email</label>
                      <div class="field__tooltip-wrap">
                          <div class="tooltip">
                            <div class="tooltip__trigger"></div>
                            <div class="tooltip__content">
                              <p>Тот, на кого оформлен полис страхования</p>
                            </div>
                          </div>
                      </div>
                    </div>
                    <input class="field__input field--tooltip" id="request5" type="text" placeholder="Email" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="px-15 px-sm-30 pt-30 border-bottom">
            <div class="d-flex align-items-center mb-15">
              <h5 class="mb-0 font-weight-bold mr-10">Застрахованное лицо</h5>
                <div class="tooltip">
                  <div class="tooltip__trigger"></div>
                  <div class="tooltip__content">
                    <p>Тот, на кого оформлен полис страхования</p>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request1">Фамилия</label>
                    <input class="field__input" id="request1" type="text" placeholder="Фамилия" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request2">Имя</label>
                    <input class="field__input" id="request2" type="text" placeholder="Имя" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request3">Отчество</label>
                    <input class="field__input" id="request3" type="text" placeholder="Отчество" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="py-20 px-15 p-sm-30 border-bottom">
            <div class="d-flex align-items-center mb-15">
              <h5 class="mb-0 font-weight-bold">Договор и страховое событие</h5>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request1">№ договора страхования</label>
                    <input class="field__input" id="request1" type="text" placeholder="№ договора страхования" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <div class="d-flex align-items-center">
                      <label class="field__label" for="request2">Место приобретения договора</label>
                      <div class="field__tooltip-wrap">
                          <div class="tooltip">
                            <div class="tooltip__trigger"></div>
                            <div class="tooltip__content">
                              <p>Тот, на кого оформлен полис страхования</p>
                            </div>
                          </div>
                      </div>
                    </div>
                    <input class="field__input field--tooltip" id="request2" type="text" placeholder="Место приобретения договора" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request3">Дата происшествия (страхового события)</label>
                    <input class="field__input field__calendar field--calendar" id="request3" type="text" placeholder="Дата происшествия (страхового события)" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="py-20 px-15 p-sm-30 border-bottom">
            <div class="d-flex align-items-center mb-15">
              <h5 class="mb-0 font-weight-bold">Платежные реквизиты для возврата денежных средств</h5>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request1">БИК</label>
                    <input class="field__input" id="request1" type="text" placeholder="БИК" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <div class="d-flex align-items-center">
                      <label class="field__label" for="request2">Расчетный/лицевой счет</label>
                      <div class="field__tooltip-wrap">
                          <div class="tooltip">
                            <div class="tooltip__trigger"></div>
                            <div class="tooltip__content">
                              <p>Тот, на кого оформлен полис страхования</p>
                            </div>
                          </div>
                      </div>
                    </div>
                    <input class="field__input field--tooltip" id="request2" type="text" placeholder="Расчетный/лицевой счет" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30">
                  <div class="field field--static field--required">
                    <label class="field__label" for="request3">Коррсчет Банка</label>
                    <input class="field__input field__calendar field--calendar" id="request3" type="text" placeholder="Коррсчет Банка" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="py-20 px-15 p-sm-30">
            <div class="row">
              <div class="col-lg-4 ml-auto"><a class="btn btn-primary w-100" href="#">Продолжить</a></div>
            </div>
          </div>
        </form>
      </div>
    </div>
      <footer class="footer">
        <div class="footer__top">
          <div class="container">
            <div class="row">
              <div class="col-md-3"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
              </div>
              <div class="col-md-9">
                <ul class="footer__list">
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Наши продукты</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Журнал  «Хэппенс»</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">О компании</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer__group footer__group-contacts">
                <div class="footer__group-title">Телефон</div>
                <div class="footer__contacts"><a class="footer__tel" href="tel:+88005558765">8 800 555 87 65</a><a class="footer__email" href="mailto:claims@cardifrussia.ru">claims@cardifrussia.ru</a></div>
              </div>
              <div class="col-9 col-md-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В социальных сетях</div>
                <ul class="socials">
                  <li class="socials__item"><a class="socials__link socials__link--vk" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--fb" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--ig" href="#"></a></li>
                </ul>
              </div>
              <div class="col-3 col-md-2 col-lg-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В мессенджерах</div>
                <ul class="socials socials__messenger">
                  <li class="socials__item"><a class="socials__link socials__link--fbm" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-4 col-lg-3 footer__group">
                <div class="footer__group-title">В вашем телефоне</div>
                  <ul class="apps">
                    <li class="apps__item"><a class="apps__link apps__link--apple" href="#">appstore</a></li>
                    <li class="apps__item"><a class="apps__link apps__link--android" href="#">googleplay</a></li>
                  </ul>
              </div>
              <div class="col-12">
                <div class="footer__text">КАРДИФ - страховая компания, входящая в состав BNP Paribas Cardif. КАРДИФ занимается созданием и обслуживанием накопительных и рисковых страховых продуктов. КАРДИФ - международная компания с географически широко диверсифицированным бизнесом и особенно сильными позициями в Европе, Азии и Южной Америке. Список наших партнеров включает в себя более 35 из 100 ведущих банков мира. Лицензия ЦБ РФ от 18.07.2018 г.: СЛ №4104, СИ №4104</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="js/vendor.js?version=1"></script>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>
