build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <header class="header">
          <div class="header__progress">
            <div class="header__bar"></div>
          </div>
          <div class="container header__container">
            <div class="header__row">
              <div class="header__left"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
                  <nav class="menu">
                    <ul class="menu__list">
                      <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                        <ul class="menu__submenu">
                          <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                          <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                          <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                  <form class="search">
                    <input class="search__field" type="text" placeholder="Поиск">
                    <input class="search__button" type="submit" value="">
                  </form>
              </div>
              <div class="header__right">
                <div class="dropdown__wrapper"><a class="btn btn-primary btn--question dropdown__trigger js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a>
                    <div class="dropdown js-dropdown-callback">
                      <div class="dropdown__header">
                        <h3 class="dropdown__header-title">Общение с Кардиф</h3><a class="dropdown__close" href="#"></a>
                      </div>
                      <div class="dropdown__row">
                        <div class="dropdown__column">
                          <div class="dropdown__icon" style="background-image: url(./img/callback-1.svg);"></div>
                          <p class="dropdown__title mb-15 text-center">Задать вопрос</p>
                          <p class="dropdown__dscr">Карди поможет вам разобраться с любыми вопросами по работе системы.</p><a class="dropdown__link" href="#">Открыть чат с Карди</a>
                        </div>
                        <div class="dropdown__column">
                          <div class="dropdown__icon" style="background-image: url(./img/callback-2.svg);"></div>
                          <p class="dropdown__title mb-15 text-center">Обращение</p>
                          <p class="dropdown__dscr">Обратитесь за помощью в оформлении страховых случаев на сайте.</p><a class="dropdown__link" href="#">Создать обращение</a>
                        </div>
                        <div class="dropdown__column">
                          <div class="dropdown__icon" style="background-image: url(./img/callback-3.svg);"></div>
                          <p class="dropdown__title mb-15 text-center">Обратный звонок</p>
                          <p class="dropdown__dscr">Закажите обратный звонок и наши специалисты помогут решить любой ваш вопрос.</p><a class="dropdown__link" href="#">Заказать</a>
                        </div>
                      </div>
                    </div>
                </div><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a><a class="btn btn-primary btn--notifications js-btn-notifications" href="#"><span>4</span></a><a class="header__avatar" href="#"><img src="./img/avatar.jpg" alt></a><a class="header__toggle-btn" href="#"><span></span></a>
              </div>
            </div>
          </div>
        </header>
        <div class="mobile-menu-bar js-mobile-menu-bar">
          <div class="container mobile-menu-bar__wrapper js-menu-html">
            <div class="mobile-menu-bar__top">
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                      <ul class="menu__submenu">
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <form class="search">
                  <input class="search__field" type="text" placeholder="Поиск">
                  <input class="search__button" type="submit" value="">
                </form>
            </div>
            <div class="mobile-menu-bar__bottom"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a></div>
          </div>
        </div>
        <div class="floating-buttons floating-buttons--active js-floating-buttons">
          <div class="floating-buttons__wrapper"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#">Страховой случай</a></div>
        </div>
      <div class="hero" style="background-image: url(./img/home-hero-bg.jpg)">
        <div class="hero__bg-mob px-5 px-md-0 py-80 py-md-0" style="background-image: url(./img/home-hero-bg-mob.svg)">
          <div class="container">
            <div class="row">
              <div class="col-lg-11 mx-auto">
                <h1 class="hero__title text-center text-md-left mb-70 d-none d-md-block">Прозрачное и понятное страхование </h1>
                <h1 class="hero__title text-center text-md-left mb-70 d-md-none">Прозрачное и понятное страхование от Кардиф</h1>
                <div class="d-none d-md-flex">
                  <div class="hero__feature"><span class="hero__feature-icon"><img src="./img/feature-icon-1.svg" alt></span>
                    <div class="hero__feature-text">Мы проведем Вас за руку по всем шагам</div>
                  </div>
                  <div class="hero__feature"><span class="hero__feature-icon"><img src="./img/feature-icon-2.svg" alt></span>
                    <div class="hero__feature-text">Чтобы не случилось - всегда ясно, что делать</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-secondary">
        <div class="container container--offset-top">
          <div class="row">
            <div class="col-xl-4 pb-30 pb-xl-0">
              <form class="form px-15 px-sm-30 h-100 py-40 shadow">
                <div class="row">
                  <div class="col-xl-12">
                    <h3 class="text-center text-md-left form__title">Что вы хотите защитить?</h3>
                  </div>
                  <div class="col-12">
                    <div class="form__desc mb-20 text-center text-md-left">BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера</div>
                  </div>
                  <div class="col-md-6 col-xl-12 pb-md-30">
                    <div class="form__group">
                      <label class="d-none d-md-block" for="control-1">Город</label>
                      <select class="select" id="control-1">
                        <option value="" disabled selected>Выберите</option>
                        <option value="">Вариант 1</option>
                        <option value="">Вариант 2</option>
                        <option value="">Вариант 3</option>
                      </select>
                      <div class="form__group-text d-none d-md-block">Например, <a href="#">Квартиру</a></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-12 pb-30 d-none d-md-block">
                    <div class="form__group">
                      <label for="control-2">Город</label>
                      <select class="select" id="control-2">
                        <option value="" disabled selected>Выберите</option>
                        <option value="">Вариант 1</option>
                        <option value="">Вариант 2</option>
                        <option value="">Вариант 3</option>
                        <option value="">Вариант 4</option>
                      </select>
                      <div class="form__group-text">Например, <a href="#"> Квартиру</a></div>
                    </div>
                  </div>
                  <div class="col-12 text-right d-none d-md-block"><a class="form__link" href="#">История расчетов</a></div>
                </div>
              </form>
            </div>
            <div class="col-xl-8 d-flex">
              <div class="row no-gutters shadow shadow--sm-none">
                <div class="col-md-4 pb-30 pb-md-0">
                    <div class="category h-100"><a class="category__img" href="#"><img src="./img/category-img-1.svg" alt></a>
                      <div class="category__info"><a class="category__title" href="#">Недвижимость</a><span class="category__price">от 999 рублей</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 pb-30 pb-md-0">
                    <div class="category h-100"><a class="category__img" href="#"><img src="./img/category-img-2.svg" alt></a>
                      <div class="category__info"><a class="category__title" href="#">Здоровье</a><span class="category__price">от 999 рублей</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 pb-30 pb-md-0">
                    <div class="category h-100"><a class="category__img" href="#"><img src="./img/category-img-3.svg" alt></a>
                      <div class="category__info"><a class="category__title" href="#">Автомобиль</a><span class="category__price">от 999 рублей</span>
                      </div>
                    </div>
                </div>
                <div class="col-12 pb-30 pb-md-0">
                    <div class="category category--fullwidth h-100"><a class="category__img" href="#"><img src="./img/category-img-4.svg" alt></a>
                      <div class="category__info"><a class="category__title" href="#">Ипотека</a><span class="category__price">от 999 рублей</span>
                        <div class="category__desc d-none d-md-block">Здесь пишем вступительный текст про страхование ипотеки</div>
                      </div><span class="tag category__tag">Специальные условия</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="section section--approach bg-gray-secondary">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6 pl-md-0 align-self-center order-1 order-lg-0 mx-auto"><img src="./img/method.svg" alt=""></div>
            <div class="col-lg-6 pb-20">
              <div class="text-center text-lg-left">
                <h2 class="section__title mb-40">Наш новый подход к страхованию удивит вас</h2>
                <p class="text-gray mb-40">ООО "СК КАРДИФ" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования и страхования имущества.</p>
              </div>
              <div class="comments-slider">
                <div class="comments-slider__item">
                    <div class="comment">
                      <div class="comment__img"><img src="./img/comment-img-1.jpg" alt></div>
                      <div class="comment__content">
                        <div class="comment__text">Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!</div>
                        <div class="comment__meta"><span class="comment__author">Ольга Соловьева, </span><span class="comment__date">12 ноября 2017</span></div>
                      </div>
                    </div>
                </div>
                <div class="comments-slider__item">
                    <div class="comment">
                      <div class="comment__img"><img src="./img/comment-img-1.jpg" alt></div>
                      <div class="comment__content">
                        <div class="comment__text">Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!</div>
                        <div class="comment__meta"><span class="comment__author">Ольга Соловьева, </span><span class="comment__date">12 ноября 2017</span></div>
                      </div>
                    </div>
                </div>
                <div class="comments-slider__item">
                    <div class="comment">
                      <div class="comment__img"><img src="./img/comment-img-1.jpg" alt></div>
                      <div class="comment__content">
                        <div class="comment__text">Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!</div>
                        <div class="comment__meta"><span class="comment__author">Ольга Соловьева, </span><span class="comment__date">12 ноября 2017</span></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section--magazine py-50 py-md-80">
        <div class="container section__bg-text" data-text-logo="Хэппенс">
          <div class="text-center text-md-left">
            <h2 class="section__title section__title--magazine"><small class="d-block">журнал</small>Хэппенс</h2>
          </div>
          <div class="row">
            <div class="col-xl-8">
              <div class="row previews-slider">
                <div class="col-md-6 previews-slider__item d-flex pb-30"><a class="preview preview--hover preview--hover-primary" href="#">
                      <div class="preview__img"><img src="./img/preview-img-1.svg" alt></div>
                      <div class="preview__content">
                        <div class="preview__title">Что делать если залили квартиру?
                          <div class="preview__text-second">Узнайте как защитить свое здоровье в бытовых условиях и не только…</div>
                        </div><span class="tag tag--green preview__tag">Статья</span>
                      </div></a>
                </div>
                <div class="col-md-6 previews-slider__item d-flex pb-30"><a class="preview preview--hover preview--hover-red" href="#">
                      <div class="preview__img"><img src="./img/preview-img-2.svg" alt></div>
                      <div class="preview__content">
                        <div class="preview__title">Украли банковскую карту. Что делать?
                        </div><span class="tag tag--red preview__tag">Видео</span>
                      </div></a>
                </div>
                <div class="col-md-12 previews-slider__item d-flex pb-0 pb-xl-30"><a class="preview preview--fullwidth preview--hover preview--hover-primary" href="#">
                      <div class="preview__img"><img src="./img/preview-img-3.png" alt></div>
                      <div class="preview__content">
                        <div class="preview__title preview__title--has-icon">Советы по страхованию здоровья
                        </div><span class="tag tag--green preview__tag">Статья</span>
                      </div></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-none d-xl-flex pb-30"><a class="preview preview--secondary" href="#">
                  <div class="preview__img"><img src="./img/category-img-1.svg" alt></div>
                  <div class="preview__content">
                    <div class="preview__title preview__title--has-icon">Новый дом - новая жизнь
                    </div>
                    <div class="preview__desc">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования…</div><span class="tag tag--green preview__tag">Статья</span>
                  </div></a>
            </div>
          </div>
        </div>
      </section>
      <section class="section section--news bg-gray-secondary pt-50 pt-md-90 pb-50 pb-md-0">
        <div class="container">
          <h2 class="section__title">Новости и акции</h2>
          <div class="news-slider">
              <div class="news"><span class="news__date">23 декабря 2017</span><a class="news__title" href="#">10% Скидка на все виды страхования</a>
                <div class="news__excerpt">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</div><a class="news__read" href="#"> </a>
              </div>
              <div class="news news--action"><span class="news__date">23 декабря 2017</span><a class="news__title" href="#">10% Скидка на все виды страхования</a>
                <div class="news__excerpt">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</div><span class="tag news__tag">Акция</span><a class="news__read" href="#"> </a>
              </div>
              <div class="news"><span class="news__date">23 декабря 2017</span><a class="news__title" href="#">10% Скидка на все виды страхования</a>
                <div class="news__excerpt">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</div><a class="news__read" href="#"> </a>
              </div>
              <div class="news"><span class="news__date">23 декабря 2017</span><a class="news__title" href="#">10% Скидка на все виды страхования</a>
                <div class="news__excerpt">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</div><a class="news__read" href="#"> </a>
              </div>
              <div class="news"><span class="news__date">23 декабря 2017</span><a class="news__title" href="#">10% Скидка на все виды страхования</a>
                <div class="news__excerpt">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</div><a class="news__read" href="#"> </a>
              </div>
          </div>
        </div>
      </section>
        <footer class="footer">
          <div class="footer__top">
            <div class="container">
              <div class="row">
                <div class="col-md-3"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
                </div>
                <div class="col-md-9">
                  <ul class="footer__list">
                    <li class="footer__list-item"><a class="footer__list-link" href="#">Наши продукты</a></li>
                    <li class="footer__list-item"><a class="footer__list-link" href="#">Журнал  «Хэппенс»</a></li>
                    <li class="footer__list-item"><a class="footer__list-link" href="#">О компании</a></li>
                    <li class="footer__list-item"><a class="footer__list-link" href="#">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-3 footer__group footer__group-contacts">
                  <div class="footer__group-title">Телефон</div>
                  <div class="footer__contacts"><a class="footer__tel" href="tel:+88005558765">8 800 555 87 65</a><a class="footer__email" href="mailto:claims@cardifrussia.ru">claims@cardifrussia.ru</a></div>
                </div>
                <div class="col-9 col-md-3 footer__group">
                  <div class="footer__group-title d-none d-md-block">В социальных сетях</div>
                  <ul class="socials">
                    <li class="socials__item"><a class="socials__link socials__link--vk" href="#"></a></li>
                    <li class="socials__item"><a class="socials__link socials__link--fb" href="#"></a></li>
                    <li class="socials__item"><a class="socials__link socials__link--ig" href="#"></a></li>
                  </ul>
                </div>
                <div class="col-3 col-md-2 col-lg-3 footer__group">
                  <div class="footer__group-title d-none d-md-block">В мессенджерах</div>
                  <ul class="socials socials__messenger">
                    <li class="socials__item"><a class="socials__link socials__link--fbm" href="#"></a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-lg-3 footer__group">
                  <div class="footer__group-title">В вашем телефоне</div>
                    <ul class="apps">
                      <li class="apps__item"><a class="apps__link apps__link--apple" href="#">appstore</a></li>
                      <li class="apps__item"><a class="apps__link apps__link--android" href="#">googleplay</a></li>
                    </ul>
                </div>
                <div class="col-12">
                  <div class="footer__text">КАРДИФ - страховая компания, входящая в состав BNP Paribas Cardif. КАРДИФ занимается созданием и обслуживанием накопительных и рисковых страховых продуктов. КАРДИФ - международная компания с географически широко диверсифицированным бизнесом и особенно сильными позициями в Европе, Азии и Южной Америке. Список наших партнеров включает в себя более 35 из 100 ведущих банков мира. Лицензия ЦБ РФ от 18.07.2018 г.: СЛ №4104, СИ №4104</div>
                </div>
              </div>
            </div>
          </div>
        </footer>
    </div>
    <script src="js/vendor.js?version=1"></script>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>

src/pages/index.pug
extends ../templates/template.pug
block content
  .wrapper
    +header
    .hero(style="background-image: url(./img/home-hero-bg.jpg)")
      .hero__bg-mob.px-5.px-md-0.py-80.py-md-0(style="background-image: url(./img/home-hero-bg-mob.svg)")
        .container
          .row
            .col-lg-11.mx-auto
              h1.hero__title.text-center.text-md-left.mb-70.d-none.d-md-block Прозрачное и понятное страхование 
              h1.hero__title.text-center.text-md-left.mb-70.d-md-none Прозрачное и понятное страхование от Кардиф
              .d-none.d-md-flex
                .hero__feature
                  span.hero__feature-icon
                    img(src="./img/feature-icon-1.svg", alt)
                  .hero__feature-text Мы проведем Вас за руку по всем шагам
                .hero__feature
                  span.hero__feature-icon
                    img(src="./img/feature-icon-2.svg", alt)
                  .hero__feature-text Чтобы не случилось - всегда ясно, что делать
    .bg-gray-secondary: .container.container--offset-top
      .row
        .col-xl-4.pb-30.pb-xl-0
          form.form.px-15.px-sm-30.h-100.py-40.shadow: .row
            .col-xl-12: h3.text-center.text-md-left.form__title Что вы хотите защитить?
            .col-12: .form__desc.mb-20.text-center.text-md-left BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера
            .col-md-6.col-xl-12.pb-md-30: .form__group
              label.d-none.d-md-block(for="control-1") Город
              select.select#control-1
                option(value="", disabled, selected) Выберите
                option(value="") Вариант 1
                option(value="") Вариант 2
                option(value="") Вариант 3
              .form__group-text.d-none.d-md-block Например, 
                a(href="#") Квартиру
            .col-md-6.col-xl-12.pb-30.d-none.d-md-block: .form__group
              label(for="control-2") Город
              select.select#control-2
                option(value="", disabled, selected) Выберите
                option(value="") Вариант 1
                option(value="") Вариант 2
                option(value="") Вариант 3
                option(value="") Вариант 4
              .form__group-text Например, 
                a(href="#")  Квартиру
            .col-12.text-right.d-none.d-md-block
              a.form__link(href="#") История расчетов
        .col-xl-8.d-flex
          .row.no-gutters.shadow.shadow--sm-none
            .col-md-4.pb-30.pb-md-0
              +category("", "./img/category-img-1.svg", "Недвижимость", "от 999 рублей")(class="h-100")
            .col-md-4.pb-30.pb-md-0
              +category("", "./img/category-img-2.svg", "Здоровье", "от 999 рублей")(class="h-100")
            .col-md-4.pb-30.pb-md-0
              +category("", "./img/category-img-3.svg", "Автомобиль", "от 999 рублей")(class="h-100")
            .col-12.pb-30.pb-md-0
              +category("category--fullwidth", "./img/category-img-4.svg", "Ипотека", "от 999 рублей", "Здесь пишем вступительный текст про страхование ипотеки", "Специальные условия")(class="h-100")
    section.section.section--approach.bg-gray-secondary
      .container
        .row
          .col-md-7.col-lg-6.pl-md-0.align-self-center.order-1.order-lg-0.mx-auto
            img(src="./img/method.svg" alt="")
          .col-lg-6.pb-20
            .text-center.text-lg-left
              h2.section__title.mb-40 Наш новый подход к страхованию удивит вас
              p.text-gray.mb-40 ООО "СК КАРДИФ" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования и страхования имущества.
            .comments-slider
              .comments-slider__item: +comment("", "./img/comment-img-1.jpg", "Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!", "Ольга Соловьева, ", "12 ноября 2017")
              .comments-slider__item: +comment("", "./img/comment-img-1.jpg", "Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!", "Ольга Соловьева, ", "12 ноября 2017")
              .comments-slider__item: +comment("", "./img/comment-img-1.jpg", "Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!", "Ольга Соловьева, ", "12 ноября 2017")
    section.section.section--magazine.py-50.py-md-80
      .container.section__bg-text(data-text-logo="Хэппенс")
        .text-center.text-md-left
          h2.section__title.section__title--magazine
            small.d-block журнал
            | Хэппенс
        .row
          .col-xl-8
            .row.previews-slider
              .col-md-6.previews-slider__item.d-flex.pb-30
                +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
              .col-md-6.previews-slider__item.d-flex.pb-30
                +preview("", "./img/preview-img-2.svg", "Украли банковскую карту. Что делать?", "", "Видео", "video")(class="preview--hover preview--hover-red")
              .col-md-12.previews-slider__item.d-flex.pb-0.pb-xl-30
                +preview("preview--fullwidth", "./img/preview-img-3.png", "Советы по страхованию здоровья", "", "Статья", "article", "true")(class='preview--hover preview--hover-primary')
          .col-lg-4.d-none.d-xl-flex.pb-30
            +preview("preview--secondary", "./img/category-img-1.svg", "Новый дом - новая жизнь", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования…", "Статья", "article", "true")
    section.section.section--news.bg-gray-secondary.pt-50.pt-md-90.pb-50.pb-md-0
      .container
        h2.section__title Новости и акции
        .news-slider
          +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
          +news("news--action", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
          +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
          +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
          +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
    +footer
