build/insurance-request.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <header class="header">
        <div class="header__progress">
          <div class="header__bar"></div>
        </div>
        <div class="container header__container">
          <div class="header__row">
            <div class="header__left"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                      <ul class="menu__submenu">
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <form class="search">
                  <input class="search__field" type="text" placeholder="Поиск">
                  <input class="search__button" type="submit" value="">
                </form>
            </div>
            <div class="header__right">
              <div class="dropdown__wrapper"><a class="btn btn-primary btn--question dropdown__trigger js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a>
                  <div class="dropdown js-dropdown-callback">
                    <div class="dropdown__header">
                      <h3 class="dropdown__header-title">Общение с Кардиф</h3><a class="dropdown__close" href="#"></a>
                    </div>
                    <div class="dropdown__row">
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-1.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Задать вопрос</p>
                        <p class="dropdown__dscr">Карди поможет вам разобраться с любыми вопросами по работе системы.</p><a class="dropdown__link" href="#">Открыть чат с Карди</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-2.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обращение</p>
                        <p class="dropdown__dscr">Обратитесь за помощью в оформлении страховых случаев на сайте.</p><a class="dropdown__link" href="#">Создать обращение</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-3.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обратный звонок</p>
                        <p class="dropdown__dscr">Закажите обратный звонок и наши специалисты помогут решить любой ваш вопрос.</p><a class="dropdown__link" href="#">Заказать</a>
                      </div>
                    </div>
                  </div>
              </div><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a><a class="btn btn-primary btn--notifications js-btn-notifications" href="#"><span>4</span></a><a class="header__avatar" href="#"><img src="./img/avatar.jpg" alt></a><a class="header__toggle-btn" href="#"><span></span></a>
            </div>
          </div>
        </div>
      </header>
      <div class="mobile-menu-bar js-mobile-menu-bar">
        <div class="container mobile-menu-bar__wrapper js-menu-html">
          <div class="mobile-menu-bar__top">
              <nav class="menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                    <ul class="menu__submenu">
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <form class="search">
                <input class="search__field" type="text" placeholder="Поиск">
                <input class="search__button" type="submit" value="">
              </form>
          </div>
          <div class="mobile-menu-bar__bottom"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a></div>
        </div>
      </div>
      <div class="floating-buttons floating-buttons--active js-floating-buttons">
        <div class="floating-buttons__wrapper"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#">Страховой случай</a></div>
      </div>
    <section class="section__request">
      <div class="container">
        <div class="d-flex align-items-baseline"><a class="arrow-back" href="#"></a>
          <h2 class="mb-30">Обращение по страховому случаю</h2>
        </div>
        <div class="section__request--box box-shadow-sm">
          <h5>Выберите тип страхового случая</h5>
          <div class="js-tabs tabs-secondary">
            <div class="d-flex align-items-center justify-content-between mb-30">
              <div class="d-none d-md-block">
                <div class="js-tabs__menu js-tabs__btns-group tabs-secondary__btns-group" data-tabs="#tabs-requests-1">
                  <div class="js-tabs__btn tabs-secondary__btn tabs-secondary__btn--active js-tabs__btn--active" role="button" data-tab="0">Автомобиль</div>
                  <div class="js-tabs__btn tabs-secondary__btn" role="button" data-tab="1">Здоровье</div>
                  <div class="js-tabs__btn tabs-secondary__btn" role="button" data-tab="2">Имущество</div>
                  <div class="js-tabs__btn tabs-secondary__btn" role="button" data-tab="3">Прочее</div>
                </div>
              </div>
            </div>
            <div class="d-md-none mb-30">
              <select class="select js-tabs__menu-select" data-tabs="#tabs-requests-1">
                <option value="0">Автомобиль</option>
                <option value="1">Здоровье</option>
                <option value="2">Имущество</option>
                <option value="3">Прочее</option>
              </select>
            </div>
            <div class="js-tabs__content tabs-secondary__content" id="tabs-requests-1">
              <div class="js-tabs__content-item tabs-secondary__content-item">
                <div class="row">
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Страховой случай</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Расторжение договора</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Оставить жалобу</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Консультация</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Изменение договора</h6>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="js-tabs__content-item tabs-secondary__content-item">
                <div class="row">
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Травматическое повреждение</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Инвалидность</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Смертельно опасное заболевание</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Госпитализация</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Проведение хирургической операции</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Смерть</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Временная утрата трудоспособности</h6>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="js-tabs__content-item tabs-secondary__content-item">
                <div class="row">
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Страхование рисков, связанных с утратой личных документов или вещей</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Страхование персональных электронных устройств и бытовой техники</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Страхование рисков, связанных с использованием банковских карт</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Страхование имущества и гражданской ответственности</h6>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Защита покупателя</h6>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="js-tabs__content-item tabs-secondary__content-item">
                <div class="row">
                  <div class="col-md-4 mb-30">
                      <div class="type type--short">
                        <div class="type__content">
                          <h6 class="mb-5">Недобровольная потеря работы</h6>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <footer class="footer">
        <div class="footer__top">
          <div class="container">
            <div class="row">
              <div class="col-md-3"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
              </div>
              <div class="col-md-9">
                <ul class="footer__list">
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Наши продукты</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Журнал  «Хэппенс»</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">О компании</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer__group footer__group-contacts">
                <div class="footer__group-title">Телефон</div>
                <div class="footer__contacts"><a class="footer__tel" href="tel:+88005558765">8 800 555 87 65</a><a class="footer__email" href="mailto:claims@cardifrussia.ru">claims@cardifrussia.ru</a></div>
              </div>
              <div class="col-9 col-md-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В социальных сетях</div>
                <ul class="socials">
                  <li class="socials__item"><a class="socials__link socials__link--vk" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--fb" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--ig" href="#"></a></li>
                </ul>
              </div>
              <div class="col-3 col-md-2 col-lg-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В мессенджерах</div>
                <ul class="socials socials__messenger">
                  <li class="socials__item"><a class="socials__link socials__link--fbm" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-4 col-lg-3 footer__group">
                <div class="footer__group-title">В вашем телефоне</div>
                  <ul class="apps">
                    <li class="apps__item"><a class="apps__link apps__link--apple" href="#">appstore</a></li>
                    <li class="apps__item"><a class="apps__link apps__link--android" href="#">googleplay</a></li>
                  </ul>
              </div>
              <div class="col-12">
                <div class="footer__text">КАРДИФ - страховая компания, входящая в состав BNP Paribas Cardif. КАРДИФ занимается созданием и обслуживанием накопительных и рисковых страховых продуктов. КАРДИФ - международная компания с географически широко диверсифицированным бизнесом и особенно сильными позициями в Европе, Азии и Южной Америке. Список наших партнеров включает в себя более 35 из 100 ведущих банков мира. Лицензия ЦБ РФ от 18.07.2018 г.: СЛ №4104, СИ №4104</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="js/vendor.js?version=1"></script>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>

src/pages/insurance-request.pug
extends ../templates/template.pug
block content
  +header
  section.section__request
    .container
      .d-flex.align-items-baseline
        a.arrow-back(href="#")
        h2.mb-30 Обращение по страховому случаю
      .section__request--box.box-shadow-sm
        h5 Выберите тип страхового случая
        .js-tabs.tabs-secondary
          .d-flex.align-items-center.justify-content-between.mb-30
            .d-none.d-md-block
              .js-tabs__menu.js-tabs__btns-group.tabs-secondary__btns-group(data-tabs="#tabs-requests-1")
                .js-tabs__btn.tabs-secondary__btn.tabs-secondary__btn--active.js-tabs__btn--active(role="button" data-tab=0) Автомобиль
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=1) Здоровье
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=2) Имущество
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=3) Прочее
          .d-md-none.mb-30
            select.select.js-tabs__menu-select(data-tabs="#tabs-requests-1")
              option(value="0") Автомобиль
              option(value="1") Здоровье
              option(value="2") Имущество
              option(value="3") Прочее
          .js-tabs__content.tabs-secondary__content#tabs-requests-1
            .js-tabs__content-item.tabs-secondary__content-item
              .row
                .col-md-4.mb-30
                  +type('', 'Страховой случай', '').type--short
                .col-md-4.mb-30
                  +type('', 'Расторжение договора', '').type--short
                .col-md-4.mb-30
                  +type('', 'Оставить жалобу', '').type--short
                .col-md-4.mb-30
                  +type('', 'Консультация', '').type--short
                .col-md-4.mb-30
                  +type('', 'Изменение договора', '').type--short
            .js-tabs__content-item.tabs-secondary__content-item
              .row
                .col-md-4.mb-30
                  +type('', 'Травматическое повреждение', '').type--short
                .col-md-4.mb-30
                  +type('', 'Инвалидность', '').type--short
                .col-md-4.mb-30
                  +type('', 'Смертельно опасное заболевание', '').type--short
                .col-md-4.mb-30
                  +type('', 'Госпитализация', '').type--short
                .col-md-4.mb-30
                  +type('', 'Проведение хирургической операции', '').type--short
                .col-md-4.mb-30
                  +type('', 'Смерть', '').type--short
                .col-md-4.mb-30
                  +type('', 'Временная утрата трудоспособности', '').type--short
            .js-tabs__content-item.tabs-secondary__content-item
              .row
                .col-md-4.mb-30
                  +type('', 'Страхование рисков, связанных с утратой личных документов или вещей', '').type--short
                .col-md-4.mb-30
                  +type('', 'Страхование персональных электронных устройств и бытовой техники', '').type--short
                .col-md-4.mb-30
                  +type('', 'Страхование рисков, связанных с использованием банковских карт', '').type--short
                .col-md-4.mb-30
                  +type('', 'Страхование имущества и гражданской ответственности', '').type--short
                .col-md-4.mb-30
                  +type('', 'Защита покупателя', '').type--short
            .js-tabs__content-item.tabs-secondary__content-item
              .row
                .col-md-4.mb-30
                  +type('', 'Недобровольная потеря работы', '').type--short
  +footer
