src/pages/magazine.pug
extends ../templates/template.pug
block content
  +header
  .hero.hero--shops
    .container
      h1.hero__title Хэппенс
      p.hero__desc.d-none.d-sm-block
        | Наш дом - наша крепость. Место, где мы чувствуем себя комфортно и спокойно. Хочется, чтобы так было всегда.
      .tabs-secondary.js-filter.pt-sm-20
        .tabs-secondary__btns-group
          .js-filter__btn.tabs-secondary__btn.tabs-secondary__btn--active(role="button", tabindex="0", data-filter="all") Все
          .js-filter__btn.tabs-secondary__btn(role="button", tabindex="0", data-filter=".preview--article") Статьи
          .js-filter__btn.tabs-secondary__btn(role="button", tabindex="0", data-filter=".preview--video") Видео
          .js-filter__btn.tabs-secondary__btn(role="button", tabindex="0", data-filter=".preview--infographic") Инфографика
  .container.py-40.py-lg-70
    .js-filter
      .js-filter__content.previews-grid(data-masonry='{ "itemSelector": ".previews-grid__item"}')
        .previews-grid__item: +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
        .previews-grid__item: +preview("", "./img/preview-img-2.svg", "Украли банковскую карту. Что делать?", "", "Видео", "video")(class="preview--hover preview--hover-red")
        .previews-grid__item.previews-grid__item--w2: +preview("preview--fullwidth", "./img/preview-img-3.png", "Советы по страхованию здоровья", "", "Статья", "article", "true")(class='preview--hover preview--hover-primary')
        .previews-grid__item.previews-grid__item--h2: +preview("preview--secondary", "./img/category-img-1.svg", "Новый дом - новая жизнь", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования…", "Статья", "article", "true")
        .previews-grid__item: +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
        .previews-grid__item: +preview("", "./img/preview-img-2.svg", "Украли банковскую карту. Что делать?", "", "Видео", "video")(class="preview--hover preview--hover-red")
        .previews-grid__item: +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
    .text-center
      a.btn.btn-outline-primary(href="#") Посмотреть еще
  +footer

build/magazine.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <header class="header">
        <div class="header__progress">
          <div class="header__bar"></div>
        </div>
        <div class="container header__container">
          <div class="header__row">
            <div class="header__left"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                      <ul class="menu__submenu">
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <form class="search">
                  <input class="search__field" type="text" placeholder="Поиск">
                  <input class="search__button" type="submit" value="">
                </form>
            </div>
            <div class="header__right">
              <div class="dropdown__wrapper"><a class="btn btn-primary btn--question dropdown__trigger js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a>
                  <div class="dropdown js-dropdown-callback">
                    <div class="dropdown__header">
                      <h3 class="dropdown__header-title">Общение с Кардиф</h3><a class="dropdown__close" href="#"></a>
                    </div>
                    <div class="dropdown__row">
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-1.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Задать вопрос</p>
                        <p class="dropdown__dscr">Карди поможет вам разобраться с любыми вопросами по работе системы.</p><a class="dropdown__link" href="#">Открыть чат с Карди</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-2.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обращение</p>
                        <p class="dropdown__dscr">Обратитесь за помощью в оформлении страховых случаев на сайте.</p><a class="dropdown__link" href="#">Создать обращение</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-3.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обратный звонок</p>
                        <p class="dropdown__dscr">Закажите обратный звонок и наши специалисты помогут решить любой ваш вопрос.</p><a class="dropdown__link" href="#">Заказать</a>
                      </div>
                    </div>
                  </div>
              </div><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a><a class="btn btn-primary btn--notifications js-btn-notifications" href="#"><span>4</span></a><a class="header__avatar" href="#"><img src="./img/avatar.jpg" alt></a><a class="header__toggle-btn" href="#"><span></span></a>
            </div>
          </div>
        </div>
      </header>
      <div class="mobile-menu-bar js-mobile-menu-bar">
        <div class="container mobile-menu-bar__wrapper js-menu-html">
          <div class="mobile-menu-bar__top">
              <nav class="menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                    <ul class="menu__submenu">
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <form class="search">
                <input class="search__field" type="text" placeholder="Поиск">
                <input class="search__button" type="submit" value="">
              </form>
          </div>
          <div class="mobile-menu-bar__bottom"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a></div>
        </div>
      </div>
      <div class="floating-buttons floating-buttons--active js-floating-buttons">
        <div class="floating-buttons__wrapper"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#">Страховой случай</a></div>
      </div>
    <div class="hero hero--shops">
      <div class="container">
        <h1 class="hero__title">Хэппенс</h1>
        <p class="hero__desc d-none d-sm-block">Наш дом - наша крепость. Место, где мы чувствуем себя комфортно и спокойно. Хочется, чтобы так было всегда.</p>
        <div class="tabs-secondary js-filter pt-sm-20">
          <div class="tabs-secondary__btns-group">
            <div class="js-filter__btn tabs-secondary__btn tabs-secondary__btn--active" role="button" tabindex="0" data-filter="all">Все</div>
            <div class="js-filter__btn tabs-secondary__btn" role="button" tabindex="0" data-filter=".preview--article">Статьи</div>
            <div class="js-filter__btn tabs-secondary__btn" role="button" tabindex="0" data-filter=".preview--video">Видео</div>
            <div class="js-filter__btn tabs-secondary__btn" role="button" tabindex="0" data-filter=".preview--infographic">Инфографика</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-40 py-lg-70">
      <div class="js-filter">
        <div class="js-filter__content previews-grid" data-masonry="{ &quot;itemSelector&quot;: &quot;.previews-grid__item&quot;}">
          <div class="previews-grid__item"><a class="preview preview--hover preview--hover-primary" href="#">
                <div class="preview__img"><img src="./img/preview-img-1.svg" alt></div>
                <div class="preview__content">
                  <div class="preview__title">Что делать если залили квартиру?
                    <div class="preview__text-second">Узнайте как защитить свое здоровье в бытовых условиях и не только…</div>
                  </div><span class="tag tag--green preview__tag">Статья</span>
                </div></a>
          </div>
          <div class="previews-grid__item"><a class="preview preview--hover preview--hover-red" href="#">
                <div class="preview__img"><img src="./img/preview-img-2.svg" alt></div>
                <div class="preview__content">
                  <div class="preview__title">Украли банковскую карту. Что делать?
                  </div><span class="tag tag--red preview__tag">Видео</span>
                </div></a>
          </div>
          <div class="previews-grid__item previews-grid__item--w2"><a class="preview preview--fullwidth preview--hover preview--hover-primary" href="#">
                <div class="preview__img"><img src="./img/preview-img-3.png" alt></div>
                <div class="preview__content">
                  <div class="preview__title preview__title--has-icon">Советы по страхованию здоровья
                  </div><span class="tag tag--green preview__tag">Статья</span>
                </div></a>
          </div>
          <div class="previews-grid__item previews-grid__item--h2"><a class="preview preview--secondary" href="#">
                <div class="preview__img"><img src="./img/category-img-1.svg" alt></div>
                <div class="preview__content">
                  <div class="preview__title preview__title--has-icon">Новый дом - новая жизнь
                  </div>
                  <div class="preview__desc">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования…</div><span class="tag tag--green preview__tag">Статья</span>
                </div></a>
          </div>
          <div class="previews-grid__item"><a class="preview preview--hover preview--hover-primary" href="#">
                <div class="preview__img"><img src="./img/preview-img-1.svg" alt></div>
                <div class="preview__content">
                  <div class="preview__title">Что делать если залили квартиру?
                    <div class="preview__text-second">Узнайте как защитить свое здоровье в бытовых условиях и не только…</div>
                  </div><span class="tag tag--green preview__tag">Статья</span>
                </div></a>
          </div>
          <div class="previews-grid__item"><a class="preview preview--hover preview--hover-red" href="#">
                <div class="preview__img"><img src="./img/preview-img-2.svg" alt></div>
                <div class="preview__content">
                  <div class="preview__title">Украли банковскую карту. Что делать?
                  </div><span class="tag tag--red preview__tag">Видео</span>
                </div></a>
          </div>
          <div class="previews-grid__item"><a class="preview preview--hover preview--hover-primary" href="#">
                <div class="preview__img"><img src="./img/preview-img-1.svg" alt></div>
                <div class="preview__content">
                  <div class="preview__title">Что делать если залили квартиру?
                    <div class="preview__text-second">Узнайте как защитить свое здоровье в бытовых условиях и не только…</div>
                  </div><span class="tag tag--green preview__tag">Статья</span>
                </div></a>
          </div>
        </div>
      </div>
      <div class="text-center"><a class="btn btn-outline-primary" href="#">Посмотреть еще</a></div>
    </div>
      <footer class="footer">
        <div class="footer__top">
          <div class="container">
            <div class="row">
              <div class="col-md-3"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
              </div>
              <div class="col-md-9">
                <ul class="footer__list">
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Наши продукты</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Журнал  «Хэппенс»</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">О компании</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer__group footer__group-contacts">
                <div class="footer__group-title">Телефон</div>
                <div class="footer__contacts"><a class="footer__tel" href="tel:+88005558765">8 800 555 87 65</a><a class="footer__email" href="mailto:claims@cardifrussia.ru">claims@cardifrussia.ru</a></div>
              </div>
              <div class="col-9 col-md-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В социальных сетях</div>
                <ul class="socials">
                  <li class="socials__item"><a class="socials__link socials__link--vk" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--fb" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--ig" href="#"></a></li>
                </ul>
              </div>
              <div class="col-3 col-md-2 col-lg-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В мессенджерах</div>
                <ul class="socials socials__messenger">
                  <li class="socials__item"><a class="socials__link socials__link--fbm" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-4 col-lg-3 footer__group">
                <div class="footer__group-title">В вашем телефоне</div>
                  <ul class="apps">
                    <li class="apps__item"><a class="apps__link apps__link--apple" href="#">appstore</a></li>
                    <li class="apps__item"><a class="apps__link apps__link--android" href="#">googleplay</a></li>
                  </ul>
              </div>
              <div class="col-12">
                <div class="footer__text">КАРДИФ - страховая компания, входящая в состав BNP Paribas Cardif. КАРДИФ занимается созданием и обслуживанием накопительных и рисковых страховых продуктов. КАРДИФ - международная компания с географически широко диверсифицированным бизнесом и особенно сильными позициями в Европе, Азии и Южной Америке. Список наших партнеров включает в себя более 35 из 100 ведущих банков мира. Лицензия ЦБ РФ от 18.07.2018 г.: СЛ №4104, СИ №4104</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="js/vendor.js?version=1"></script>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>
