src/pages/news.pug
extends ../templates/template.pug
block content
  +header
  .hero.hero--news.pb-0.pb-md-70
    .container
      span.tag.hero__tag.mb-20.mb-md-30 Акция
      h1.hero__title.mb-55.mb-md-25 10% Скидка на все виды страхования
      p.hero__desc
        | ООО "СК КАРДИФ" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…
  section.section.section--news.pt-20.pt-md-70.pb-50.pb-md-70.pb-xl-90
    .container
      .row
        .col-md-8.mb-20.mb-md-0.text-center.text-md-left
          p
            | BNP Paribas CARDIF уделяет большое внимание соблюдению принципов корпоративной и социальной ответственности. С 2007 г. мы реализуем программу по уменьшению выбросов углекислого газа в атмосферу, а также занимаемся поддержкой "Программы инвестирования с учетом социальной ответственности", что позволяет нам учитывать мнения всех сотрудников в подразделениях компании по всему миру.
          p
            | BNP Paribas много лет успешно занимается бизнесом в различных областях экономики, занимая лидерские позиции в отдельных направлениях. Однако, являясь глобальной компанией, мы осознаем свою социальную ответственность и признаем необходимость своего участия во многих сферах социальной жизни нашего общества.
          p
            | Наша компания много внимания уделяет не только развитию своего бизнеса, но и социальным проектам в разных областях. Мы стараемся оказать помощь и поддержку в образовании, здравоохранении, заботе об экологии нашей планеты, а также в других направлениях.
          p
            | Например, мы осуществляем поддержку в обучении чтению для малообеспеченных тайваньских детей, финансируем операции по удалению катаракты в Индии и поддерживаем спортивные мероприятия для инвалидов в Нидерландах.
          p
            | Кроме этого, мы стараемся внести дополнительный вклад в экономическое и социальное развитие стран и экономик, на рынках которых компания работает. Мы оказываем помощь предпринимательству и поощряем предпринимательские инициативы в социальной сфере.
        .col-md-4
          h6.text-center.text-md-left Подтверждающие документы
          +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
          +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
      .text-center.text-md-left.mt-40.mb-50.mb-md-70
        +back-link("", "Вернуться к списку")
      +cta("cta--border", "Заголовок call-to-action", "Звоните нам по телефону + 7 (495) 456-67-89 или отправляйте резюме с сайта", "Действие")
  section.section.section--read-more.py-50.py-md-70.py-xl-90
    .container
      h3.text-center.text-md-left Читайте так же
      .news-slider
        +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
        +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
        +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
  +footer

build/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <header class="header">
        <div class="header__progress">
          <div class="header__bar"></div>
        </div>
        <div class="container header__container">
          <div class="header__row">
            <div class="header__left"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                      <ul class="menu__submenu">
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <form class="search">
                  <input class="search__field" type="text" placeholder="Поиск">
                  <input class="search__button" type="submit" value="">
                </form>
            </div>
            <div class="header__right">
              <div class="dropdown__wrapper"><a class="btn btn-primary btn--question dropdown__trigger js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a>
                  <div class="dropdown js-dropdown-callback">
                    <div class="dropdown__header">
                      <h3 class="dropdown__header-title">Общение с Кардиф</h3><a class="dropdown__close" href="#"></a>
                    </div>
                    <div class="dropdown__row">
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-1.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Задать вопрос</p>
                        <p class="dropdown__dscr">Карди поможет вам разобраться с любыми вопросами по работе системы.</p><a class="dropdown__link" href="#">Открыть чат с Карди</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-2.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обращение</p>
                        <p class="dropdown__dscr">Обратитесь за помощью в оформлении страховых случаев на сайте.</p><a class="dropdown__link" href="#">Создать обращение</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-3.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обратный звонок</p>
                        <p class="dropdown__dscr">Закажите обратный звонок и наши специалисты помогут решить любой ваш вопрос.</p><a class="dropdown__link" href="#">Заказать</a>
                      </div>
                    </div>
                  </div>
              </div><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a><a class="btn btn-primary btn--notifications js-btn-notifications" href="#"><span>4</span></a><a class="header__avatar" href="#"><img src="./img/avatar.jpg" alt></a><a class="header__toggle-btn" href="#"><span></span></a>
            </div>
          </div>
        </div>
      </header>
      <div class="mobile-menu-bar js-mobile-menu-bar">
        <div class="container mobile-menu-bar__wrapper js-menu-html">
          <div class="mobile-menu-bar__top">
              <nav class="menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                    <ul class="menu__submenu">
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <form class="search">
                <input class="search__field" type="text" placeholder="Поиск">
                <input class="search__button" type="submit" value="">
              </form>
          </div>
          <div class="mobile-menu-bar__bottom"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a></div>
        </div>
      </div>
      <div class="floating-buttons floating-buttons--active js-floating-buttons">
        <div class="floating-buttons__wrapper"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#">Страховой случай</a></div>
      </div>
    <div class="hero hero--news pb-0 pb-md-70">
      <div class="container"><span class="tag hero__tag mb-20 mb-md-30">Акция</span>
        <h1 class="hero__title mb-55 mb-md-25">10% Скидка на все виды страхования</h1>
        <p class="hero__desc">ООО "СК КАРДИФ" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</p>
      </div>
    </div>
    <section class="section section--news pt-20 pt-md-70 pb-50 pb-md-70 pb-xl-90">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-20 mb-md-0 text-center text-md-left">
            <p>BNP Paribas CARDIF уделяет большое внимание соблюдению принципов корпоративной и социальной ответственности. С 2007 г. мы реализуем программу по уменьшению выбросов углекислого газа в атмосферу, а также занимаемся поддержкой "Программы инвестирования с учетом социальной ответственности", что позволяет нам учитывать мнения всех сотрудников в подразделениях компании по всему миру.</p>
            <p>BNP Paribas много лет успешно занимается бизнесом в различных областях экономики, занимая лидерские позиции в отдельных направлениях. Однако, являясь глобальной компанией, мы осознаем свою социальную ответственность и признаем необходимость своего участия во многих сферах социальной жизни нашего общества.</p>
            <p>Наша компания много внимания уделяет не только развитию своего бизнеса, но и социальным проектам в разных областях. Мы стараемся оказать помощь и поддержку в образовании, здравоохранении, заботе об экологии нашей планеты, а также в других направлениях.</p>
            <p>Например, мы осуществляем поддержку в обучении чтению для малообеспеченных тайваньских детей, финансируем операции по удалению катаракты в Индии и поддерживаем спортивные мероприятия для инвалидов в Нидерландах.</p>
            <p>Кроме этого, мы стараемся внести дополнительный вклад в экономическое и социальное развитие стран и экономик, на рынках которых компания работает. Мы оказываем помощь предпринимательству и поощряем предпринимательские инициативы в социальной сфере.</p>
          </div>
          <div class="col-md-4">
            <h6 class="text-center text-md-left">Подтверждающие документы</h6>
              <div class="document">
                <div class="document__info"><a class="document__title" href="#">Аудиторское заключение 2013</a><span class="document__date">Размещено 17.11.2015 12:48</span></div>
              </div>
              <div class="document">
                <div class="document__info"><a class="document__title" href="#">Аудиторское заключение 2013</a><span class="document__date">Размещено 17.11.2015 12:48</span></div>
              </div>
          </div>
        </div>
        <div class="text-center text-md-left mt-40 mb-50 mb-md-70"><a class="back-link" href="#">Вернуться к списку</a>
        </div>
          <div class="cta cta--border">
            <div class="cta__info">
              <h5 class="cta__title">Заголовок call-to-action</h5>
              <div class="cta__text">Звоните нам по телефону + 7 (495) 456-67-89 или отправляйте резюме с сайта</div>
            </div><a class="btn btn-primary cta__btn" href="#">Действие</a>
          </div>
      </div>
    </section>
    <section class="section section--read-more py-50 py-md-70 py-xl-90">
      <div class="container">
        <h3 class="text-center text-md-left">Читайте так же</h3>
        <div class="news-slider">
            <div class="news"><span class="news__date">23 декабря 2017</span><a class="news__title" href="#">10% Скидка на все виды страхования</a>
              <div class="news__excerpt">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</div><a class="news__read" href="#"> </a>
            </div>
            <div class="news"><span class="news__date">23 декабря 2017</span><a class="news__title" href="#">10% Скидка на все виды страхования</a>
              <div class="news__excerpt">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</div><span class="tag news__tag">Акция</span><a class="news__read" href="#"> </a>
            </div>
            <div class="news"><span class="news__date">23 декабря 2017</span><a class="news__title" href="#">10% Скидка на все виды страхования</a>
              <div class="news__excerpt">ООО &quot;СК КАРДИФ&quot; входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…</div><a class="news__read" href="#"> </a>
            </div>
        </div>
      </div>
    </section>
      <footer class="footer">
        <div class="footer__top">
          <div class="container">
            <div class="row">
              <div class="col-md-3"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
              </div>
              <div class="col-md-9">
                <ul class="footer__list">
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Наши продукты</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Журнал  «Хэппенс»</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">О компании</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer__group footer__group-contacts">
                <div class="footer__group-title">Телефон</div>
                <div class="footer__contacts"><a class="footer__tel" href="tel:+88005558765">8 800 555 87 65</a><a class="footer__email" href="mailto:claims@cardifrussia.ru">claims@cardifrussia.ru</a></div>
              </div>
              <div class="col-9 col-md-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В социальных сетях</div>
                <ul class="socials">
                  <li class="socials__item"><a class="socials__link socials__link--vk" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--fb" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--ig" href="#"></a></li>
                </ul>
              </div>
              <div class="col-3 col-md-2 col-lg-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В мессенджерах</div>
                <ul class="socials socials__messenger">
                  <li class="socials__item"><a class="socials__link socials__link--fbm" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-4 col-lg-3 footer__group">
                <div class="footer__group-title">В вашем телефоне</div>
                  <ul class="apps">
                    <li class="apps__item"><a class="apps__link apps__link--apple" href="#">appstore</a></li>
                    <li class="apps__item"><a class="apps__link apps__link--android" href="#">googleplay</a></li>
                  </ul>
              </div>
              <div class="col-12">
                <div class="footer__text">КАРДИФ - страховая компания, входящая в состав BNP Paribas Cardif. КАРДИФ занимается созданием и обслуживанием накопительных и рисковых страховых продуктов. КАРДИФ - международная компания с географически широко диверсифицированным бизнесом и особенно сильными позициями в Европе, Азии и Южной Америке. Список наших партнеров включает в себя более 35 из 100 ведущих банков мира. Лицензия ЦБ РФ от 18.07.2018 г.: СЛ №4104, СИ №4104</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="js/vendor.js?version=1"></script>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>
