build/policy.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <header class="header">
        <div class="header__progress">
          <div class="header__bar"></div>
        </div>
        <div class="container header__container">
          <div class="header__row">
            <div class="header__left"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                      <ul class="menu__submenu">
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <form class="search">
                  <input class="search__field" type="text" placeholder="Поиск">
                  <input class="search__button" type="submit" value="">
                </form>
            </div>
            <div class="header__right">
              <div class="dropdown__wrapper"><a class="btn btn-primary btn--question dropdown__trigger js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a>
                  <div class="dropdown js-dropdown-callback">
                    <div class="dropdown__header">
                      <h3 class="dropdown__header-title">Общение с Кардиф</h3><a class="dropdown__close" href="#"></a>
                    </div>
                    <div class="dropdown__row">
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-1.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Задать вопрос</p>
                        <p class="dropdown__dscr">Карди поможет вам разобраться с любыми вопросами по работе системы.</p><a class="dropdown__link" href="#">Открыть чат с Карди</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-2.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обращение</p>
                        <p class="dropdown__dscr">Обратитесь за помощью в оформлении страховых случаев на сайте.</p><a class="dropdown__link" href="#">Создать обращение</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-3.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обратный звонок</p>
                        <p class="dropdown__dscr">Закажите обратный звонок и наши специалисты помогут решить любой ваш вопрос.</p><a class="dropdown__link" href="#">Заказать</a>
                      </div>
                    </div>
                  </div>
              </div><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a><a class="btn btn-primary btn--notifications js-btn-notifications" href="#"><span>4</span></a><a class="header__avatar" href="#"><img src="./img/avatar.jpg" alt></a><a class="header__toggle-btn" href="#"><span></span></a>
            </div>
          </div>
        </div>
      </header>
      <div class="mobile-menu-bar js-mobile-menu-bar">
        <div class="container mobile-menu-bar__wrapper js-menu-html">
          <div class="mobile-menu-bar__top">
              <nav class="menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                    <ul class="menu__submenu">
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <form class="search">
                <input class="search__field" type="text" placeholder="Поиск">
                <input class="search__button" type="submit" value="">
              </form>
          </div>
          <div class="mobile-menu-bar__bottom"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a></div>
        </div>
      </div>
      <div class="floating-buttons floating-buttons--active js-floating-buttons">
        <div class="floating-buttons__wrapper"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#">Страховой случай</a></div>
      </div>
    <div class="cabinet">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-xl-3">
            <div class="cabinet__user">
              <div class="cabinet__user-content">
                <div class="cabinet__user-photo" style="background-image: url(./img/userpic.jpg);"><a class="cabinet__user-photo-edit" href="#"></a></div>
                <div class="cabinet__user-text">
                  <h6 class="cabinet__user-name">Константин Константинопольский</h6>
                  <p class="cabinet__user-phone d-none d-md-block">+7 920 234 56 78</p>
                  <p class="cabinet__user-email d-none d-md-block">serg@mail.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9">
            <div class="cabinet__content">
              <div class="js-tabs tabs-primary">
                <div class="js-tabs__btns-group tabs-primary__btns-group">
                  <div class="container">
                    <div class="tabs-primary__btns-list js-tabs__menu js-tabs__menu-scroll" data-tabs="#tabs-group-1">
                      <div class="js-tabs__btn tabs-primary__btn tabs-primary__btn--active js-tabs__btn--active" role="button" data-tab="0">Обращения и консультации</div>
                      <div class="js-tabs__btn tabs-primary__btn" role="button" data-tab="1">Мои полисы</div>
                      <div class="js-tabs__btn tabs-primary__btn" role="button" data-tab="2">Профиль и личные данные</div>
                    </div>
                  </div>
                </div>
                <div class="js-tabs__content tabs-primary__content" id="tabs-group-1">
                  <div class="js-tabs__content-item tabs-primary__content-item"></div>
                  <div class="js-tabs__content-item tabs-primary__content-item">
                    <div class="d-flex align-items-center mb-30"><a class="cabinet__back" href="#"></a>
                      <h2 class="mb-0 pb-0 ml-15">КАСКО - Volkswagen California</h2>
                    </div>
                    <div class="row no-gutters box-shadow mb-30 bg-white">
                      <div class="col-lg-8">
                        <div class="pt-35 px-30 pb-40 border-bottom">
                          <h6 class="mb-25">Полис № 455-655</h6>
                            <div class="validity">
                              <div class="d-flex align-items-center justify-content-between mb-5">
                                <p class="p--gray mb-0 pb-5">Действует</p>
                                <p class="mb-0 pb-5">до 12 сен 2019 г.</p>
                              </div>
                              <div class="validity__progress">
                                <div class="validity__progress-filled" style="width:30%;"></div>
                              </div>
                            </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="p--gray pb-10">Стоимость страховки</p>
                              <h4 class="font-weight-normal mb-0">4 000 руб.</h4>
                            </div>
                            <div class="col-sm-6">
                              <p class="p--gray pb-10">Кто может получить выплату?</p>
                              <p class="pt-0 pb-0">Константинопольский Константин Константинович</p>
                            </div>
                          </div>
                        </div>
                        <div class="pt-45 pb-35 px-30 border-bottom">
                          <h6 class="mb-25">Мой автомобиль</h6>
                          <div class="row mb-15">
                            <div class="col-sm-6">
                              <p class="p--gray mb-0">Марка</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="mb-0">Volkswagen California</p>
                            </div>
                          </div>
                          <div class="row mb-15">
                            <div class="col-sm-6">
                              <p class="p--gray mb-0">Год выпуска</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="mb-0">2015</p>
                            </div>
                          </div>
                          <div class="row mb-15">
                            <div class="col-sm-6">
                              <p class="p--gray mb-0">VIN</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="mb-0">2345998885443ZZ4</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="p--gray mb-0">Стоимость на момент страхования</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="mb-0">2 560 000 руб.</p>
                            </div>
                          </div>
                        </div>
                          <div class="pt-45 pb-15 px-30">
                            <h6 class="mb-25">Документы</h6>
                            <div class="row">
                              <div class="col-sm-6"><a class="user-document user-document--added" href="#">Договор страхования</a><a class="user-document user-document--added" href="#">Памятка</a><a class="user-document" href="#">Ксерокопия паспорта</a></div>
                              <div class="col-sm-6"><a class="user-document user-document--added" href="#">Страховой полис</a><a class="user-document user-document--added" href="#">Правила страхования</a><a class="user-document" href="#">Водительские права</a></div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-4 border-left">
                        <div class="px-30 py-40"><img class="img-fluid" src="img/policy-1.svg" alt="">
                          <p class="p--gray my-20 text-center">На данный момент у вас нет страховых случаев</p><a class="btn btn-primary" href="#">Заявить о страховом случае</a><a class="btn btn-outline-primary w-100 mt-30" href="#">Расторгнуть договор</a>
                        </div>
                      </div>
                    </div><a class="explanation" href="#">
                        <div class="explanation__icon"></div>
                        <h6 class="text-primary mb-0 explanation__header">Что покроет страховка, если автомобиль угнали или полностью разбили в ДТП?</h6></a>
                  </div>
                  <div class="js-tabs__content-item tabs-primary__content-item"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <footer class="footer">
        <div class="footer__top">
          <div class="container">
            <div class="row">
              <div class="col-md-3"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
              </div>
              <div class="col-md-9">
                <ul class="footer__list">
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Наши продукты</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Журнал  «Хэппенс»</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">О компании</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer__group footer__group-contacts">
                <div class="footer__group-title">Телефон</div>
                <div class="footer__contacts"><a class="footer__tel" href="tel:+88005558765">8 800 555 87 65</a><a class="footer__email" href="mailto:claims@cardifrussia.ru">claims@cardifrussia.ru</a></div>
              </div>
              <div class="col-9 col-md-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В социальных сетях</div>
                <ul class="socials">
                  <li class="socials__item"><a class="socials__link socials__link--vk" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--fb" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--ig" href="#"></a></li>
                </ul>
              </div>
              <div class="col-3 col-md-2 col-lg-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В мессенджерах</div>
                <ul class="socials socials__messenger">
                  <li class="socials__item"><a class="socials__link socials__link--fbm" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-4 col-lg-3 footer__group">
                <div class="footer__group-title">В вашем телефоне</div>
                  <ul class="apps">
                    <li class="apps__item"><a class="apps__link apps__link--apple" href="#">appstore</a></li>
                    <li class="apps__item"><a class="apps__link apps__link--android" href="#">googleplay</a></li>
                  </ul>
              </div>
              <div class="col-12">
                <div class="footer__text">КАРДИФ - страховая компания, входящая в состав BNP Paribas Cardif. КАРДИФ занимается созданием и обслуживанием накопительных и рисковых страховых продуктов. КАРДИФ - международная компания с географически широко диверсифицированным бизнесом и особенно сильными позициями в Европе, Азии и Южной Америке. Список наших партнеров включает в себя более 35 из 100 ведущих банков мира. Лицензия ЦБ РФ от 18.07.2018 г.: СЛ №4104, СИ №4104</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="js/vendor.js?version=1"></script>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>

src/pages/policy.pug
extends ../templates/template.pug
block content
  +header
  .cabinet
    .container
      .row.no-gutters
        .col-xl-3
          .cabinet__user
            .cabinet__user-content
              .cabinet__user-photo(style="background-image: url(./img/userpic.jpg);")
                a.cabinet__user-photo-edit(href="#")
              .cabinet__user-text
                h6.cabinet__user-name Константин Константинопольский
                p.cabinet__user-phone.d-none.d-md-block +7 920 234 56 78
                p.cabinet__user-email.d-none.d-md-block serg@mail.com
        .col-xl-9
          .cabinet__content

            .js-tabs.tabs-primary
              .js-tabs__btns-group.tabs-primary__btns-group
                .container
                  .tabs-primary__btns-list.js-tabs__menu.js-tabs__menu-scroll(data-tabs="#tabs-group-1")
                    .js-tabs__btn.tabs-primary__btn.tabs-primary__btn--active.js-tabs__btn--active(role="button" data-tab=0)
                      | Обращения и консультации
                    .js-tabs__btn.tabs-primary__btn(role="button" data-tab=1)
                      | Мои полисы
                    .js-tabs__btn.tabs-primary__btn(role="button" data-tab=2)
                      | Профиль и личные данные
              .js-tabs__content.tabs-primary__content#tabs-group-1
                .js-tabs__content-item.tabs-primary__content-item
                .js-tabs__content-item.tabs-primary__content-item
                  .d-flex.align-items-center.mb-30
                    a.cabinet__back(href="#")
                    h2.mb-0.pb-0.ml-15 КАСКО - Volkswagen California
                  .row.no-gutters.box-shadow.mb-30.bg-white
                    .col-lg-8
                      .pt-35.px-30.pb-40.border-bottom
                        h6.mb-25 Полис № 455-655
                        +validity('Действует', 'до 12 сен 2019 г.')
                        .row
                          .col-sm-6
                            p.p--gray.pb-10 Стоимость страховки
                            h4.font-weight-normal.mb-0 4 000 руб.
                          .col-sm-6
                            p.p--gray.pb-10 Кто может получить выплату?
                            p.pt-0.pb-0 Константинопольский Константин Константинович
                      .pt-45.pb-35.px-30.border-bottom
                        h6.mb-25 Мой автомобиль
                        .row.mb-15
                          .col-sm-6
                            p.p--gray.mb-0 Марка
                          .col-sm-6
                            p.mb-0 Volkswagen California
                        .row.mb-15
                          .col-sm-6
                            p.p--gray.mb-0 Год выпуска
                          .col-sm-6
                            p.mb-0 2015
                        .row.mb-15
                          .col-sm-6
                            p.p--gray.mb-0 VIN
                          .col-sm-6
                            p.mb-0 2345998885443ZZ4
                        .row
                          .col-sm-6
                            p.p--gray.mb-0 Стоимость на момент страхования
                          .col-sm-6
                            p.mb-0 2 560 000 руб.
                      +user-document
                    .col-lg-4.border-left
                      .px-30.py-40
                        img.img-fluid(src="img/policy-1.svg", alt="")
                        p.p--gray.my-20.text-center На данный момент у вас нет страховых случаев
                        a.btn.btn-primary(href="#") Заявить о страховом случае
                        a.btn.btn-outline-primary.w-100.mt-30(href="#") Расторгнуть договор
                  +explanation
                .js-tabs__content-item.tabs-primary__content-item
  +footer
