src/blocks/registration/registration.pug
mixin registration(modifier)
  .registration.pt-25.pb-50.pt-md-50.pb-lg-100#registrationForm&attributes(attributes)
    .container
      h2.mb-35 Регистрация
      form.form.registration__form(action="#", method="POST")
        h5.mb-40.mb-40 Основная информация
        .row
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("", "text", "Фамилия", "register1", "Ошибка при заполнении поля")
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("", "text", "Имя", "register2", "Ошибка при заполнении поля")
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("", "text", "Отчество", "register3", "Ошибка при заполнении поля")
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("field--calendar", "text", "Дата рождения", "register4", "Ошибка при заполнении поля")
        h5.mb-40 Паспортные данные
        .row
          .col-md-4.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Серия", "register5", "Ошибка при заполнении поля")
          .col-md-4.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Номер", "register6", "Ошибка при заполнении поля")
          .col-md-4.pb-30.pb-md-45
            +field("field--calendar", "text", "Дата выдачи", "register7", "Ошибка при заполнении поля")
        .row
          .col-md-8.pb-30.pb-md-45
            +field("field--textarea", "text", "Кем выдан", "register8", "Ошибка при заполнении поля")(class="field--textarea")
          .col-md-4.col-xl-2.pb-30.pb-md-45
            +field("", "text", "Код подразделения", "register9", "Ошибка при заполнении поля")
        h5.mb-40 Адрес регистрации
        .row
          .col-md-4.pb-30.pb-md-45
            +field("", "text", "Регион", "register10", "Ошибка при заполнении поля")
          .col-md-4.pb-30.pb-md-45
            +field("", "text", "Город/населенный пункт", "register11", "Ошибка при заполнении поля")
          .col-md-4.pb-30.pb-md-45
            +field("", "text", "Улица", "register12", "Ошибка при заполнении поля")
        .row
          .col-md-3.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Дом", "register13", "Ошибка при заполнении поля")
          .col-md-3.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Корпус", "register14", "Ошибка при заполнении поля")
          .col-md-3.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Строение", "register15", "Ошибка при заполнении поля")
          .col-md-3.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Квартира", "register16", "Ошибка при заполнении поля")
        h5.mb-40 Контактная информация
        .row.form__row
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("", "text", "E-mail", "register1", "Ошибка при заполнении поля")
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("field--phone", "text", "Телефон", "register2", "Этот номер телефона уже используется. <a href='#' class='font-weight-bold'>Войти в систему</a>").field--hint-sm
        .registration__footer
          .row
            .col-md-6.pb-30.pb-md-0
              .custom-control.custom-checkbox
                input#customCheck1.custom-control-input(type='checkbox', required)
                label.custom-control-label(for='customCheck1')
                  span Предоставляю ООО "СК КАРДИФ" согласие на обработку предоставленных мною персональных данных. С 
                    a(href="#") правилами обработки персональных 
                    | данных ознакомлен.
            .col-md-6.pb-30.pb-md-0
              button.btn.btn-primary(type="submit") Продолжить

build/registration.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <header class="header">
        <div class="header__progress">
          <div class="header__bar"></div>
        </div>
        <div class="container header__container">
          <div class="header__row">
            <div class="header__left"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                      <ul class="menu__submenu">
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                        <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
                <form class="search">
                  <input class="search__field" type="text" placeholder="Поиск">
                  <input class="search__button" type="submit" value="">
                </form>
            </div>
            <div class="header__right">
              <div class="dropdown__wrapper"><a class="btn btn-primary btn--question dropdown__trigger js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a>
                  <div class="dropdown js-dropdown-callback">
                    <div class="dropdown__header">
                      <h3 class="dropdown__header-title">Общение с Кардиф</h3><a class="dropdown__close" href="#"></a>
                    </div>
                    <div class="dropdown__row">
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-1.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Задать вопрос</p>
                        <p class="dropdown__dscr">Карди поможет вам разобраться с любыми вопросами по работе системы.</p><a class="dropdown__link" href="#">Открыть чат с Карди</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-2.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обращение</p>
                        <p class="dropdown__dscr">Обратитесь за помощью в оформлении страховых случаев на сайте.</p><a class="dropdown__link" href="#">Создать обращение</a>
                      </div>
                      <div class="dropdown__column">
                        <div class="dropdown__icon" style="background-image: url(./img/callback-3.svg);"></div>
                        <p class="dropdown__title mb-15 text-center">Обратный звонок</p>
                        <p class="dropdown__dscr">Закажите обратный звонок и наши специалисты помогут решить любой ваш вопрос.</p><a class="dropdown__link" href="#">Заказать</a>
                      </div>
                    </div>
                  </div>
              </div><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a><a class="header__enter" href="#registrationForm"></a><a class="header__toggle-btn" href="#"><span></span></a>
            </div>
          </div>
        </div>
      </header>
      <div class="mobile-menu-bar js-mobile-menu-bar">
        <div class="container mobile-menu-bar__wrapper js-menu-html">
          <div class="mobile-menu-bar__top">
              <nav class="menu">
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="#">Наши продукты</a>
                    <ul class="menu__submenu">
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Здоровье</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Недвижимость</a></li>
                      <li class="menu__submenu-item"><a class="menu__submenu-link" href="#">Ипотечное страхование</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <form class="search">
                <input class="search__field" type="text" placeholder="Поиск">
                <input class="search__button" type="submit" value="">
              </form>
          </div>
          <div class="mobile-menu-bar__bottom"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-primary btn--callback js-btn-callback" href="#"><span class="icon"></span>Заказать обратный звонок</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#"><span class="icon"></span>Страховой случай</a></div>
        </div>
      </div>
      <div class="floating-buttons floating-buttons--active js-floating-buttons">
        <div class="floating-buttons__wrapper"><a class="btn btn-primary btn--question js-btn-question" href="#"><span class="icon"></span>Задать вопрос</a><a class="btn btn-secondary btn--insurance js-btn-insurance" href="#">Страховой случай</a></div>
      </div>
      <div class="registration pt-25 pb-50 pt-md-50 pb-lg-100" id="registrationForm">
        <div class="container">
          <h2 class="mb-35">Регистрация</h2>
          <form class="form registration__form" action="#" method="POST">
            <h5 class="mb-40 mb-40">Основная информация</h5>
            <div class="row">
              <div class="col-md-6 col-lg-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register1">Фамилия</label>
                    <input class="field__input" id="register1" type="text" placeholder="Фамилия" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register2">Имя</label>
                    <input class="field__input" id="register2" type="text" placeholder="Имя" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register3">Отчество</label>
                    <input class="field__input" id="register3" type="text" placeholder="Отчество" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register4">Дата рождения</label>
                    <input class="field__input field__calendar field--calendar" id="register4" type="text" placeholder="Дата рождения" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
            <h5 class="mb-40">Паспортные данные</h5>
            <div class="row">
              <div class="col-md-4 col-lg-2 col-6 pb-30 pb-md-45 form__field-sm">
                  <div class="field">
                    <label class="field__label" for="register5">Серия</label>
                    <input class="field__input" id="register5" type="text" placeholder="Серия" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-4 col-lg-2 col-6 pb-30 pb-md-45 form__field-sm">
                  <div class="field">
                    <label class="field__label" for="register6">Номер</label>
                    <input class="field__input" id="register6" type="text" placeholder="Номер" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register7">Дата выдачи</label>
                    <input class="field__input field__calendar field--calendar" id="register7" type="text" placeholder="Дата выдачи" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 pb-30 pb-md-45">
                  <div class="field field--textarea">
                    <label class="field__label" for="register8">Кем выдан</label>
                    <textarea class="field__input field--textarea" id="register8" placeholder="Кем выдан" required></textarea><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-4 col-xl-2 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register9">Код подразделения</label>
                    <input class="field__input" id="register9" type="text" placeholder="Код подразделения" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
            <h5 class="mb-40">Адрес регистрации</h5>
            <div class="row">
              <div class="col-md-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register10">Регион</label>
                    <input class="field__input" id="register10" type="text" placeholder="Регион" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register11">Город/населенный пункт</label>
                    <input class="field__input" id="register11" type="text" placeholder="Город/населенный пункт" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register12">Улица</label>
                    <input class="field__input" id="register12" type="text" placeholder="Улица" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-lg-2 col-6 pb-30 pb-md-45 form__field-sm">
                  <div class="field">
                    <label class="field__label" for="register13">Дом</label>
                    <input class="field__input" id="register13" type="text" placeholder="Дом" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-3 col-lg-2 col-6 pb-30 pb-md-45 form__field-sm">
                  <div class="field">
                    <label class="field__label" for="register14">Корпус</label>
                    <input class="field__input" id="register14" type="text" placeholder="Корпус" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-3 col-lg-2 col-6 pb-30 pb-md-45 form__field-sm">
                  <div class="field">
                    <label class="field__label" for="register15">Строение</label>
                    <input class="field__input" id="register15" type="text" placeholder="Строение" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-3 col-lg-2 col-6 pb-30 pb-md-45 form__field-sm">
                  <div class="field">
                    <label class="field__label" for="register16">Квартира</label>
                    <input class="field__input" id="register16" type="text" placeholder="Квартира" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
            </div>
            <h5 class="mb-40">Контактная информация</h5>
            <div class="row form__row">
              <div class="col-md-6 col-lg-4 pb-30 pb-md-45">
                  <div class="field">
                    <label class="field__label" for="register1">E-mail</label>
                    <input class="field__input" id="register1" type="text" placeholder="E-mail" required><span class="field__hint">Ошибка при заполнении поля</span>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 pb-30 pb-md-45">
                  <div class="field field--hint-sm">
                    <label class="field__label" for="register2">Телефон</label>
                    <input class="field__input field__input--phone" id="register2" type="text" placeholder="Телефон" required><span class="field__hint">Этот номер телефона уже используется. <a href='#' class='font-weight-bold'>Войти в систему</a></span>
                  </div>
              </div>
            </div>
            <div class="registration__footer">
              <div class="row">
                <div class="col-md-6 pb-30 pb-md-0">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="customCheck1" type="checkbox" required>
                    <label class="custom-control-label" for="customCheck1"><span>Предоставляю ООО "СК КАРДИФ" согласие на обработку предоставленных мною персональных данных. С <a href="#">правилами обработки персональных </a>данных ознакомлен.</span></label>
                  </div>
                </div>
                <div class="col-md-6 pb-30 pb-md-0">
                  <button class="btn btn-primary" type="submit">Продолжить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <footer class="footer">
        <div class="footer__top">
          <div class="container">
            <div class="row">
              <div class="col-md-3"><a class="logo" href="/"><img src="./img/logo.svg" alt></a>
              </div>
              <div class="col-md-9">
                <ul class="footer__list">
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Наши продукты</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Журнал  «Хэппенс»</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">О компании</a></li>
                  <li class="footer__list-item"><a class="footer__list-link" href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer__group footer__group-contacts">
                <div class="footer__group-title">Телефон</div>
                <div class="footer__contacts"><a class="footer__tel" href="tel:+88005558765">8 800 555 87 65</a><a class="footer__email" href="mailto:claims@cardifrussia.ru">claims@cardifrussia.ru</a></div>
              </div>
              <div class="col-9 col-md-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В социальных сетях</div>
                <ul class="socials">
                  <li class="socials__item"><a class="socials__link socials__link--vk" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--fb" href="#"></a></li>
                  <li class="socials__item"><a class="socials__link socials__link--ig" href="#"></a></li>
                </ul>
              </div>
              <div class="col-3 col-md-2 col-lg-3 footer__group">
                <div class="footer__group-title d-none d-md-block">В мессенджерах</div>
                <ul class="socials socials__messenger">
                  <li class="socials__item"><a class="socials__link socials__link--fbm" href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-4 col-lg-3 footer__group">
                <div class="footer__group-title">В вашем телефоне</div>
                  <ul class="apps">
                    <li class="apps__item"><a class="apps__link apps__link--apple" href="#">appstore</a></li>
                    <li class="apps__item"><a class="apps__link apps__link--android" href="#">googleplay</a></li>
                  </ul>
              </div>
              <div class="col-12">
                <div class="footer__text">КАРДИФ - страховая компания, входящая в состав BNP Paribas Cardif. КАРДИФ занимается созданием и обслуживанием накопительных и рисковых страховых продуктов. КАРДИФ - международная компания с географически широко диверсифицированным бизнесом и особенно сильными позициями в Европе, Азии и Южной Америке. Список наших партнеров включает в себя более 35 из 100 ведущих банков мира. Лицензия ЦБ РФ от 18.07.2018 г.: СЛ №4104, СИ №4104</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="js/vendor.js?version=1"></script>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>
